<div class="sidebar-menu">
	<button class="close-menu">Ukryj</button>	
		
		<form id="calculate-route" name="calculate-route" action="#" method="get">
			<table>
				<tr>
					<td>
						<label for="from">Z</label>
					</td>
					<td>
						<input type="text" id="autocomplete" name="from" required="required" size="30" />
					</td>
				</tr>
				<tr>
					<td>
						<label for="to">Do</label>
					</td>
					<td>
						<input type="text" id="autocompletex2" name="to" required="required" size="30" />
					</td>	
				</tr>
			</table>
			<table>
				<tr>
				<td><input class="button" type="submit" value="Wyznacz"/></td>
				<td><input class="button" type="reset" /></td>
				</tr>
			</table>
		</form>
		
		<div align="left" style="width: 100%;">
			<table id="HtmlTable" width="80%"  style="border-color: #275D18; text-align: center;"
				cellpadding="3" cellspacing="0">
			</table>
		</div>
		
		
</div>