body, html {
	height: 100%;
	min-height: 100%;
	margin: 0;
	padding: 0;
}

#div {
	min-height: 100%;
}

#wrapper {
	width: 100%;
	position: absolute;
	top: 44px;
	bottom: 0px;
}


body {
	font-family: "Segoe UI";
	margin: 0;
	text-align: center;
}


a {color: rgb(0, 92, 162); text-decoration: none;}
a:hover {color: rgb(85, 143, 191);}


div[id="greetings"] {
	background: rgb(0, 92, 162);
	display: block;
	padding: 10px;
	color: white;
	text-align: right;
	font-weight:lighter;
	font-size: 18px;
}

div[id="content"] {
	height: 100%;
	width: 80%;
	float: left;
}

div[id="menu"] {
	background: rgb(234, 234, 234);
	width: 20%;
	float: right;
	height: 100%;
}


a[class="menu_link"] {
	color: black;
	
	display: block;
	
	height: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
}

a[class="menu_link"]:hover {
	background: rgb(200, 200, 200);
}

a[class="clicked_menu_link"] {
	color: black;
	
	display: block;
	
	height: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	
	font-weight: bold;
	background: rgb(200, 200, 200);
}

#googleMap {
	height: 100%;
	width: 100%;
}



input[type="text"], input[type="password"], input[type="email"] {
	
	width: 150px;

}

table {margin: auto;}

table[class="register"] {

	padding-top: 220px;
	text-align: left;

}

table[class="login"] {

	padding-top: 220px;
	text-align: left;
}

table[class="password_reset"] {

	padding-top: 220px;
	text-align: left;
}

table[class="edit"] {

	padding-top: 9%;
	text-align: left;
}


.center { text-align: center; }

.sidebar-menu {
    position: fixed;
	top: 0;
	left: -300px;
    width: 300px;
    height: 100%;
	z-index: 2;
	background-color: rgb(234, 234, 234);
	
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.opened .sidebar-menu {
    left: 0
}

#googleMap {
	z-index: 1;
}

.open-menu {
	position: fixed;
	top: 0px;
	width: 300px;
	
	background: rgb(0, 92, 162);
	display: block;
	padding: 10px;
	color: white;
	text-align: center;
	font-weight:lighter;
	font-size: 18px;
	font-family: "Segoe UI";
	border: 0;
}

.open-menu:hover {
	background: rgb(0, 114, 198);
}

.close-menu {
	position: relative;
	margin-bottom: 30px;
	
	width: 100%;
	display: block;
	padding: 10px;
	color: black;
	text-align: center;
	font-weight:lighter;
	font-size: 18px;
	font-family: "Segoe UI";
	border: 0;
	
	background: inherit;
}

.close-menu:hover, .button:hover {
	background: rgb(200, 200, 200);
}

.button {
	padding: 10px;
	color: black;
	text-align: center;
	font-weight:lighter;
	font-size: 18px;
	font-family: "Segoe UI";
	border: 0;
	
	background: inherit;
}

.form-button {
	padding: 10px;
	color: black;
	text-align: center;
	font-size: 18px;
	font-family: "Segoe UI";
	border: 0;
	
	background: inherit;
}

.form-button:hover {
	background: rgb(234, 234, 234);
}

#calculate-route {
	padding-bottom: 40px;
}

#forgot-password {
	margin-top: 30px;
}

#forgot-password td {
	padding-right: 15px;
	padding-left: 15px;
}




.ok {
	font-size: 18px;
	height: 40px;
	width: 40%;
	position: absolute;
	bottom: 0;
	left: 20%;
	z-index: 3;
	
    margin: 10px 0px;
    padding:15px 10px 15px 80px;
    background-repeat: no-repeat;
    background-position: 10px center;

	color: white;
    background-color: rgb(57, 151, 21);
    background-image:url('images/ok.png');
}

.error {
	font-size: 18px;
	height: 40px;
	width: 40%;
	position: absolute;
	bottom: 0;
	left: 20%;
	z-index: 3;
	
    margin: 10px 0px;
    padding:15px 10px 15px 80px;
    background-repeat: no-repeat;
    background-position: 10px center;

	color: white;
	background-color: rgb(238, 49, 53);
    background-image: url('images/error.png');
}

#bar-link {
	color: white;
}

#bar-link:hover {
	color: rgb(200, 200, 200);
}